<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/title.css">
    <title>CookRecipe</title>
    <style>
        .container { margin-top: 20px; }-->
        .form-group { margin-bottom: 20px; }
        .input-small { width: 50%; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row navbar bg-light align-items-center">
            <div class="col-6">
                <a class="nav-link" href="/home"><h4>CookRecipe</h4></a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" id="signup_link" href="/signup">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signin_link" href="/signin">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signout_link" href="#">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myinfo_link" href="/myinfo">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="recommend_link" href="/recommend">추천 레시피</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="recommend1_link" href="/recommend1">추천 레시피1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <br><h4>건강 상태 입력</h4></br>
                <form id="health_form">
                    <div class="form-group">
                        <label for="height">키 (cm)</label>
                        <input type="number" class="form-control input-small" id="height" placeholder="키를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="weight">몸무게 (kg)</label>
                        <input type="number" class="form-control input-small" id="weight" placeholder="몸무게를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="bmiResult"></label>
                        <div id="bmiResult"></div>
                    </div>

                    <div class="form-group">
                        <label>건강 상태 및 식단 제한 (다중 선택 가능)</label><br>
                        <input type="checkbox" id="weight_loss" name="weight_loss" value="weight_loss">
                        <label for="weight_loss">체중감량목표</label><br>
                        <input type="checkbox" id="diabetes" name="diabetes" value="diabetes">
                        <label for="diabetes">당뇨병</label><br>
                        <input type="checkbox" id="high_bp" name="high_bp" value="high_bp">
                        <label for="high_bp">고혈압</label><br>
                        <input type="checkbox" id="cholesterol" name="cholesterol" value="cholesterol">
                        <label for="cholesterol">고지혈증</label><br>
                    </div>

                    <div class="form-group">
                        <label for="allergies">식품 알레르기 (직접 입력)</label>
                        <input type="text" class="form-control input-small" id="allergies" placeholder="알레르기 있는 식품 입력">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="submitHealthInfo()">정보 저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/navbar.js"></script>
<script type="text/javascript" src="/static/js/health.js"></script>
</html>
