<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>CookRecipe</title>
    <style>
        h4 {font-size: 30px;}
        .custom-border {
            border: 1.5px solid #bdbebd;
            border-radius: 8px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row navbar bg-light align-items-center">
            <div class="col-6">
                <a class="nav-link" href="/home"><h4>CookRecipe</h4></a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" id="signup_link" href="/signup">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signin_link" href="/signin">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signout_link" href="#">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myinfo_link" href="/myinfo">마이페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="custom-border">
                    <div class="row">
                        <div class="col-6">
                            <div class="mt-5">
                                <h6>사용할 재료를 입력해주세요</h6>
                                <div class="input-group">
                                    <textarea id="ingredients" class="form-control" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="mt-3">
                                <h6>사용하지 않을 재료를 입력해주세요</h6>
                                <div class="input-group">
                                    <textarea id="excluded_ingredients" class="form-control" rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mt-5">
                                <h6>추가 옵션을 선택해주세요</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="no_dairy">
                                    <label class="form-check-label" for="no_dairy">
                                        유제품 X
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="vegetarian">
                                    <label class="form-check-label" for="vegetarian">
                                        채식주의자
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="vegan">
                                    <label class="form-check-label" for="vegan">
                                        비건
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="nut">
                                    <label class="form-check-label" for="nut">
                                        견과류X
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mt-5">
                                <h6>요리종류 선택</h6>
                                <select class="form-control" id="cuisine_type">
                                    <option value="">모든 종류</option>
                                    <option value="밥">밥</option>
                                    <option value="반찬">반찬</option>
                                    <option value="국&찌개">국&찌개</option>
                                    <option value="일품">일품</option>
                                    <option value="후식">후식</option>
                                    <option value="기타">기타</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-12 text-center">
                            <button id="search_button" class="btn btn-primary">레시피 검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-8" id="recent_articles_div"></div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-8" id="search_result_div"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/navbar.js"></script>
<script>
    const recentArticlesDiv = document.querySelector('#recent_articles_div');
    const searchButton = document.querySelector('#search_button');
    const searchResultDiv = document.querySelector('#search_result_div');
    const noDairyCheckbox = document.getElementById('no_dairy');
    const vegetarianCheckbox = document.getElementById('vegetarian');
    const veganCheckbox = document.getElementById('vegan');
    const nutCheckbox = document.getElementById('nut');

    function displayRecentArticles(articles) {
        const container = document.getElementById('recent_articles');
        container.innerHTML = '';

        articles.forEach((article) => {
            let recipeName = article["recipeName"];  // 메뉴명
            let ingredients = article["ingredients"];  // 재료
            let cookingMethod = article["cookingMethod"];  // 조리 방법
            let cuisineType = article["cuisineType"];  // 요리 종류
            let calories = article["calories"];  // 열량
            let carbohydrates = article["carbohydrates"];  // 탄수화물
            let protein = article["protein"];  // 단백질
            let fat = article["fat"];  // 지방
            let sodium = article["sodium"];  // 나트륨

            let cardDiv = document.createElement('div');
            cardDiv.className = 'card mt-2';

            let articleElement = `
                <h5 class="card-header" style="background-color: #c0c0c0;"><span style="color: #0071ff;">${recipeName}</span></h5>
                <div class="card-body">
                    <p class="card-text">재료: ${article.ingredients}</p><br>
                    <p class="card-text">조리 방법: ${article.cookingMethod} &nbsp;&nbsp; 요리 종류: ${article.cuisineType}</p>
                    <p class="card-text"><strong>영양(1회 제공량당)</strong><br> 열량: ${article.calories}kcal, 탄수화물: ${article.carbohydrates}g, 단백질: ${article.protein}g, 지방: ${article.fat}g, 나트륨: ${article.sodium}mg</p>
                </div>
            `;

            cardDiv.innerHTML = articleElement;
            recentArticlesDiv.appendChild(cardDiv);
        });
    }

    window.addEventListener('load', getRecentArticles);


    document.addEventListener('DOMContentLoaded', function () {
        fetchRecentArticles();
    });
    function getRecentArticles() {
        fetch('/api/article/recent', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((response) => {
            return response.json();
        }).then((resBody) => {
            displayRecentArticles(resBody["articles"]);
        }).catch((error) => {
            console.log('[Error]getRecentArticles():', error);
        });
    }

    function displayRecentArticles(articles) {
        const container = document.getElementById('recent_articles_div');
        container.innerHTML = ''; // Clear existing content

        articles.forEach(article => {
            const cardDiv = document.createElement('div');
            cardDiv.className = 'card mt-2';

            const articleElement = `
                <h5 class="card-header" style="background-color: #c0c0c0;">
                    <a class="link-primary text-decoration-none" href="/display_article/${article.articleNo}">
                        ${article.recipeName}
                    </a>
                </h5>
                <div class="card-body">
                    <p class="card-text">재료: ${article.ingredients}</p><br>
                    <p class="card-text">조리 방법: ${article.cookingMethod} &nbsp;&nbsp; 요리 종류: ${article.cuisineType}</p>
                    <p class="card-text"><strong>영양(1회 제공량당)</strong><br> 열량: ${article.calories}kcal, 탄수화물: ${article.carbohydrates}g, 단백질: ${article.protein}g, 지방: ${article.fat}g, 나트륨: ${article.sodium}mg</p>
                </div>
            `;

            cardDiv.innerHTML = articleElement;
            container.appendChild(cardDiv);
        });
    }

    function displaySearchResults(articles) {
        articles.forEach((article) => {
            let articleNo = article["articleNo"];
            let title = article["recipeName"];
            let desc = article["ingredients"];
            let cookingMethod = article["cookingMethod"];
            let cuisineType = article["cuisineType"];
            let calories = article["calories"];
            let carbohydrates = article["carbohydrates"];
            let protein = article["protein"];
            let fat = article["fat"];
            let sodium = article["sodium"];

            let cardDiv = document.createElement('div');
            cardDiv.className = 'card mt-2';

            let articleElement = `
                <h5 class="card-header" style="background-color: #c0c0c0;">
                    <a class="link-primary text-decoration-none" href="/display_article/${articleNo}">
                        ${title}
                    </a>
                </h5>
                <div class="card-body">
                    <p class="card-text">재료: ${desc}</p><br>
                    <p class="card-text">조리 방법: ${cookingMethod} &nbsp;&nbsp; 요리 종류: ${cuisineType}</p>
                    <p class="card-text"><strong>영양(1회 제공량당)</strong><br> 열량: ${calories}kcal, 탄수화물: ${carbohydrates}g, 단백질: ${protein}g, 지방: ${fat}g, 나트륨: ${sodium}mg</p>
                </div>
            `;

            cardDiv.innerHTML = articleElement;
            searchResultDiv.appendChild(cardDiv);
        });

        let vacantDiv = document.createElement('div');
        vacantDiv.className = 'card mt-5';
        vacantDiv.style = 'border: None;';
        searchResultDiv.appendChild(vacantDiv);
    }

    function handleLoginResponse(response) {
        const authToken = response.authToken;
        localStorage.setItem('jwtToken', authToken);
    }

    function getJWTToken() {
        return localStorage.getItem('jwtToken');
    }

    function checkJWTToken() {
        const jwtToken = getJWTToken();
        return jwtToken !== null;
    }

    function searchArticle() {
        const authToken = sessionStorage.getItem('authtoken');

        if (!authToken) {
            alert('로그인 후에 검색할 수 있습니다.');
            window.location.href = '/signin';
            return;
        }

        let ingredients = document.getElementById('ingredients').value;
        let excludedIngredients = document.getElementById('excluded_ingredients').value;
        let noDairy = noDairyCheckbox.checked ? true : false;
        let vegetarian = vegetarianCheckbox.checked ? true : false;
        let vegan = veganCheckbox.checked ? true : false;
        let nut = nutCheckbox.checked ? true : false;
        let cuisineType = document.getElementById('cuisine_type').value;

        // 사용자가 입력한 값이 없는 경우 빈 문자열로 설정
        ingredients = ingredients.trim() !== '' ? ingredients : '';
        excludedIngredients = excludedIngredients.trim() !== '' ? excludedIngredients : '';

        let formData = new FormData();
        formData.set("searchKeyword", ingredients);
        formData.set("excludedIngredients", excludedIngredients);
        formData.set("noDairy", noDairy);
        formData.set("vegetarian", vegetarian);
        formData.set("vegan", vegan);
        formData.set("nut", nut);
        formData.set("cuisineType", cuisineType);

        fetch('/api/article/search', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${authToken}`
            },
            body: formData
        }).then((response) => {
            return response.json();
        }).then((resBody) => {
            recentArticlesDiv.parentElement.remove();
            const prevSR = searchResultDiv.querySelectorAll('.card');

            if (prevSR.length > 0) {
                prevSR.forEach((prevItem) => {
                    prevItem.remove();
                });
            }

            if (resBody["success"] === true) {
                displaySearchResults(resBody["articles"]);
            } else {
                let cardDiv = document.createElement('div');
                cardDiv.className = 'card mt-2 text-center';
                cardDiv.style = 'border: None;';

                const noSR = '<p>죄송합니다. 결과를 찾을 수 없습니다.</p>';

                cardDiv.innerHTML = noSR;
                searchResultDiv.appendChild(cardDiv);
            }
        }).catch((error) => {
            console.log('[Error]searchArticle():', error);
        });
    }

    searchButton.addEventListener('click', searchArticle);
    noDairyCheckbox.addEventListener('change', searchArticle);
    vegetarianCheckbox.addEventListener('change', searchArticle);
    veganCheckbox.addEventListener('change', searchArticle);
    nutCheckbox.addEventListener('change', searchArticle);
</script>
</html>
