.home-container {
    display: flex;
    align-items: center; /* 텍스트와 이미지를 수직 중앙 정렬 */
    justify-content: space-between;
    padding: 10px 0; /* 전체 여백 줄이기 */
    flex-wrap: nowrap; /* 텍스트와 이미지가 한 줄에 표시되도록 설정 */
}

.home-text {
    flex: 1 1 45%; /* 최소 너비를 줄이기 */
    padding-right: 10px; /* 여백 줄이기 */
    font-size: 1rem; /* 글씨 크기 줄이기 */
}

.home-illustration {
    flex: 1 1 45%; /* 이미지 최소 너비 줄이기 */
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 중앙 정렬 추가 */
    height: auto; /* 자동 높이 설정 */
}

.full-image {
    max-width: 90%; /* 최대 너비 줄이기 */
    max-height: 90%; /* 최대 높이 줄이기 */
    width: auto; /* 비율을 유지하면서 크기를 조정 */
    height: auto; /* 비율을 유지하면서 크기를 조정 */
}

#start-search-btn {
    font-weight: bold; /* 글씨 굵게 */
    font-size: 1rem; /* 글씨 크기 줄이기 */
    padding: 8px 12px; /* 버튼 내부 여백 줄이기 */
}
