.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-header h5 {
    margin: 0;
}